<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854532604030-3j9lhjcb1luieobbt83b0d6n519ns5he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854532604030-3j9lhjcb1luieobbt83b0d6n519ns5he</string>
	<key>API_KEY</key>
	<string>AIzaSyA3irUtJIN62LWQog28hk_30m0k5n-kvj8</string>
	<key>GCM_SENDER_ID</key>
	<string>854532604030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esy.alex</string>
	<key>PROJECT_ID</key>
	<string>flash-app-ios-13-27ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-app-ios-13-27ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854532604030:ios:b4605dafb7fe1e7a85d82f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-app-ios-13-27ba3.firebaseio.com</string>
</dict>
</plist>